aiohttp
aria2p
async_generator
beautifulsoup4>=4.8.1
bs4
cairosvg
chromedriver-autoinstaller
coffeehouse
cowpy
cryptg
dnspython
eksipy
emoji
emoji-country-flag
git+https://github.com/bisoncorps/search-engine-parser
git+https://github.com/Joeclinton1/google-images-download.git
git+https://github.com/johnwmillr/LyricsGenius.git
hachoir
httplib2
humanize
imagedown
lottie
lxml==4.5.2
lyricsgenius
numpy
oauth2client
Pillow
psycopg2
pybase64>=0.4.0
pydub
pylast==4.1.0
pySmartDL
python-barcode
python-dotenv
pytz
requests>=2.18.4
selenium>=3.141.0
spotdl
sqlalchemy>=1.2
telegraph
telethon-session-sqlalchemy>=0.2.6
telethon>=1.24.0
twitter_scraper
urbandict>=0.5
youtube-dl
